[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pre-commit = "*"
isort = "*"
black = "*"
flake8 = "*"
sphinx = "*"
pygments = "*"
docutils = "*"

[packages]
ttkbootstrap = "*"
pyyaml = "*"

[requires]
python_version = "3"
